// Bootstrap scss
@import '../../node_modules/bootstrap/scss/bootstrap.scss';


html {
    overflow-y: scroll; /* Add the ability to scroll */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  html::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  html {
      -ms-overflow-style: none;
  }

.parallax::-webkit-scrollbar { 
    width: 0;
}

@import './variables';
@import './base';
@import './footer';
@import './card';
@import './links';
@import './sidebar';
